/* .context-menu {
    padding: 0.75rem 1rem;
    display: none;
    min-width: 12rem;
    border: 1px solid var(--color-field-border);
    border-top-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    background-color: var(--color-menu-bg);
    color: var(--color-menu-font);
    font-size: var(--fs-xs);
    z-index: 999;
} */

.col {
    border: 0px solid red;
}

.col > *:not(:last-child) {
    margin-bottom: 1rem;
}

.cb-container {
    display: block;
    position: relative;
    padding-left: 2rem;
    /* margin-bottom: 0rem; */
    cursor: pointer;
    font-size: var(--fs-xs);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.cb-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.cb-container .checkmark {
    position: absolute;
    top: -0.125rem;
    left: 0;
    height: 1.25rem;
    width: 1.25rem;
    background-color: #eee;
}
.cb-container:hover input ~ .checkmark {
    background-color: #ccc;
}
.cb-container input:checked ~ .checkmark {
    background-color: #2196F3;
}
.checkmark::after {
    content: "";
    position: absolute;
    display: none;
}
.cb-container input:checked ~ .checkmark::after {
    display: block;
}
.cb-container .checkmark::after {
    left: 0.45rem;
    top: 0.2rem;
    width: 0.375rem;
    height: 0.725rem;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.fld {
    color: var(--color-field-font);
    border-radius: 0;
    font-size: var(--fs-sm);
}

.fld-text {
    width: 20rem;
    border: 1px solid var(--color-field-border);
    padding: 0.375rem 0.75rem;
}

.fld-select {
    width: 20rem;
    border: 1px solid var(--color-field-border);
    padding: 0.375rem 0.75rem;
}

.fld-textarea {
    width: 20rem;
    height: 5rem;
    border: 1px solid var(--color-field-border);
    padding: 0.375rem 0.75rem;
}
